.node--dgmdashboard--full .node__content {
  --repeat: auto-fit;
  display: grid;
  grid-template-columns: repeat(var(--repeat), minmax(300px, 1fr));
  grid-gap: 1rem;
}
@media (min-width: 1200px) {
  .node--dgmdashboard--full .node__content {
    --repeat: 3;
  }
}
@media (min-width: 1200px) {
  .node--dgmdashboard--full .node__content {
    grid-gap: 2rem;
  }
}
.node--dgmdashboard--full .field, .node--dgmdashboard--full .block {
  background-color: #eee;
  padding: 1rem;
}
.node--dgmdashboard--full .field a, .node--dgmdashboard--full .block a {
  text-decoration: underline solid;
}
@media (min-width: 600px) {
  .node--dgmdashboard--full .field--body {
    grid-column: auto/span 2;
  }
}
.node--dgmdashboard--full .field--text1, .node--dgmdashboard--full .field--text2 {
  color: white;
}
.node--dgmdashboard--full .field--text1 *, .node--dgmdashboard--full .field--text2 * {
  color: inherit;
}
.node--dgmdashboard--full .field--text1 a:hover, .node--dgmdashboard--full .field--text1 a:focus, .node--dgmdashboard--full .field--text2 a:hover, .node--dgmdashboard--full .field--text2 a:focus {
  color: #ccc;
}
.node--dgmdashboard--full .field--text1 {
  background-color: var(--color--admin);
}
.node--dgmdashboard--full .field--text2 {
  background-color: var(--color--text);
}
.node--dgmdashboard--full .block--views_block--dgmdashboard-dgmdashboard_new_event {
  background-color: #c8c8c8;
}
.node--dgmdashboard--full .block--views_block--dgmdashboard-dgmdashboard_count_content {
  grid-column: 1/-1;
}
.node--dgmdashboard--full .block--views_block--dgmdashboard-dgmdashboard_count_content .view-content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
  gap: 2rem;
  text-align: center;
  white-space: nowrap;
}
.node--dgmdashboard--full .block--views_block--dgmdashboard-dgmdashboard_count_content .views-field-type {
  font-size: 1.25rem;
}
.node--dgmdashboard--full .block--views_block--dgmdashboard-dgmdashboard_count_content .views-field-type-1 {
  color: var(--color--admin);
  font-size: 5rem;
}

/**
 * in DGM we usually have A LOT of hits, so reduce whitespace
 */
.ui-autocomplete .ui-menu-item-wrapper {
  padding: 0.25rem 0.9rem;
}

/**
 * this is a workaround for https://www.drupal.org/project/paragraphs/issues/3418303
 * which causes the paragraph table to overlap into the secondary node region,
 * making paragraph UI buttons inaccessible for mouseclicks
 */
.layout-region-node-main {
  z-index: 2;
}

.field--widget-paragraphs.field--name-field-mobile tr.draggable > :nth-child(2), .field--widget-paragraphs.field--name-field-slides tr.draggable > :nth-child(2), .field--widget-paragraphs[class*=field--name-field-slot] tr.draggable > :nth-child(2) {
  width: 100%;
}

/** end workaround 3418303 */
.infopoint-grid-container table[id^=field-slot] > thead > tr > th:not(.field-label) > *, .infopoint-grid-container table[id^=field-slot] > thead > tr > th div.paragraphs-actions, .infopoint-grid-container table[id^=field-slot] > tbody > tr > td.delta-order {
  display: none;
}

.infopoint__slots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 150px;
  width: 330px;
  margin: 0 auto;
}
.infopoint__slots .infopoint__slot {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #999;
  font-size: 2rem;
}
.infopoint__slots .infopoint__slot--1 {
  grid-area: 1/1/3/4;
}
.infopoint__slots .infopoint__slot--2 {
  grid-area: 1/4/2/5;
}
.infopoint__slots .infopoint__slot--3 {
  grid-area: 1/5/2/6;
}
.infopoint__slots .infopoint__slot--4 {
  grid-area: 1/6/2/8;
}
.infopoint__slots .infopoint__slot--5 {
  grid-area: 2/4/4/6;
}
.infopoint__slots .infopoint__slot--6 {
  grid-area: 2/6/4/8;
}
.infopoint__slots .infopoint__slot--7 {
  grid-area: 3/1/4/2;
}
.infopoint__slots .infopoint__slot--8 {
  grid-area: 3/2/4/4;
}

@media (min-width: 640px) {
  .paragraphs-add-dialog ul.paragraphs-add-dialog-list:has(*:nth-child(10)) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
form.node-dgmpage-edit-form div.twig-field-editor-footer, form.node-dgmpage-form div.twig-field-editor-footer {
  display: none;
}

/*# sourceMappingURL=dgm_admin.css.map */
