.node--dgmdashboard--full {
  .node__content {
    --repeat: auto-fit;
    @media (min-width: 1200px) {
      --repeat: 3;
    }
    display: grid;
    grid-template-columns: repeat(var(--repeat), minmax(300px, 1fr));
    grid-gap: 1rem;

    @media (min-width: 1200px) {
      grid-gap: 2rem;
    }
  }

  .field, .block {
    background-color: #eee;
    padding: 1rem;

    a {
      text-decoration: underline solid;
    }
  }

  .field--body {
    @media (min-width: 600px) {
      grid-column: auto / span 2;
    }
  }

  .field--text1, .field--text2 {
    color: white;

    * {
      color: inherit;
    }

    a {
      &:hover, &:focus {
        color: #ccc;
      }
    }
  }

  .field--text1 {
    background-color: var(--color--admin);
  }

  .field--text2 {
    background-color: var(--color--text);
  }

  .block--views_block--dgmdashboard-dgmdashboard_new_event {
    background-color: #c8c8c8;
  }

  .block--views_block--dgmdashboard-dgmdashboard_count_content {
    grid-column: 1 / -1;

    .view-content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
      gap: 2rem;
      text-align: center;
      white-space: nowrap;
    }

    .views-field-type {
      font-size: 1.25rem;
    }

    .views-field-type-1 {
      color: var(--color--admin);
      font-size: 5rem;
    }
  }
}
