/**
 * this is a workaround for https://www.drupal.org/project/paragraphs/issues/3418303
 * which causes the paragraph table to overlap into the secondary node region,
 * making paragraph UI buttons inaccessible for mouseclicks
 */
.layout-region-node-main {
  z-index: 2;
}
.field--widget-paragraphs {
  &.field--name-field-mobile, &.field--name-field-slides, &[class*="field--name-field-slot"] {
    tr.draggable > :nth-child(2) {
      width: 100%;
    }
  }
}
/** end workaround 3418303 */

.infopoint-grid-container {
  table[id^='field-slot'] {
    > thead > tr > th:not(.field-label) > *, > thead > tr > th div.paragraphs-actions, > tbody > tr > td.delta-order {
      display: none;
    }
  }
}

.infopoint__slots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 150px;
  width: 330px;
  margin: 0 auto;

  .infopoint__slot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
    font-size: 2rem;
  }

  .infopoint__slot--1 {
    grid-area: 1 / 1 / 3 / 4;
  }

  .infopoint__slot--2 {
    grid-area: 1 / 4 / 2 / 5;
  }

  .infopoint__slot--3 {
    grid-area: 1 / 5 / 2 / 6;
  }

  .infopoint__slot--4 {
    grid-area: 1 / 6 / 2 / 8;
  }

  .infopoint__slot--5{
    grid-area: 2 / 4 / 4 / 6;
  }

  .infopoint__slot--6 {
    grid-area: 2 / 6 / 4 / 8;
  }

  .infopoint__slot--7 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .infopoint__slot--8 {
    grid-area: 3 / 2 / 4 / 4;
  }
}

